<div class="container">
  <div class="send">
    <label>Enter a number(n) to get (n) number of (n) words</label><br>
    <input type="number" min="1" [(ngModel)]="n_number" name="n_number"><br>
    <button class="sendButton button" (click)="send()">Send</button>
  </div>
</div>
<div class="getWords">
  <table class="table table table-striped">
    <thead>
      <tr>
        <th style="padding-right: 40px">Word</th>
        <th>Number of occurence</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let w of words">
        <td>{{w.word}}</td>
        <td>{{w.frequency}}</td>
      </tr>
    </tbody>
  </table>
</div>